/* main.css */
html, body {
  margin: 0;
  padding: 0;
  background: #414141;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
  overflow-x: hidden;
  touch-action: none;
}

img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: block;
  width: 100%;
  max-width: 800px;
  height: auto;
  cursor: zoom-in;
  transition: none;
  position: relative;
  z-index: 1001;
  user-select: none;
  touch-action: none;
}
