/* responsive/responsive.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: block;
  width: 100%;
  max-width: 850px;
  height: auto;
  cursor: zoom-in;
  transition: none;
  position: relative;
  z-index: 1001;
  user-select: none;
  touch-action: none;
  left: 10px;
}

.message-container {
  position: absolute;
  margin-top: 10px;
  font-size: 16px;
  max-width: 650px;
  top: 800px;
  left: 10px;
  text-align: justify;
  z-index: 1002;
}


.template-notice {
  margin-top:10px;
  position: absolute;
  font-size: 16px;
  top: 860px;
  left: 10px;
  text-align: left;
  z-index: 1002;
}


.link-container {
  position: absolute;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  max-width: 800px;
  top: 880px;
  left: 10px;
  z-index: 1002;
}

a {
  color: #4da3ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 880px) {
  img{
    max-width: 680px;
 }
  .message-container {
    max-width: 570px;
    font-size: 14px;
    top: 650px;
  }
 .template-notice {
   font-size: 14px;
   top: 720px;

 }
  .link-container {
    font-size: 14px;
    top: 740px;
  }
@media (max-width: 700px) {
  img{
    max-width: 410px;
    left: 0px;
 }
  .message-container {
    max-width: 400px;
    font-size: 14px;
    top: 410px;
  }
 .template-notice {
   font-size: 14px;
   top: 480px;
 }
  .link-container {
    font-size: 14px;
    top: 520px;
  }
  @media (max-width: 400px) {
  img{
    max-width: 380px;
 }
  .message-container {
    max-width: 325px;
    font-size: 14px;
    top: 360px;
  }
 .template-notice {
   font-size: 14px;
   top: 440px;
 }
  .link-container {
    font-size: 14px;
    top: 480px;
  }
}
