/* responsive/responsive.css */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
img {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: block;
  width: 100%;
  max-width: 750px;
  height: auto;
  cursor: zoom-in;
  transition: none;
  position: relative;
  z-index: 1001;
  user-select: none;
  touch-action: none;
  left: 20px;
}

.message-container {
  position: absolute;
  margin-top: 10px;
  font-size: 16px;
  max-width: 270px;
  top: 510px;
  left: 25px;
  text-align: justify;
  z-index: 1002;
}

.link-container {
  position: absolute;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
  max-width: 800px;
  top: 895px;
  left: 8px;
  z-index: 1002;
}

.template-notice {
  margin-top:10px;
  position: absolute;
  font-size: 16px;
  top: 915px;
  left: 8px;
  text-align: left;
  z-index: 1002;
}

a {
  color: #4da3ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 780px) {
  img{
    max-width: 460px;
 }
  .message-container {
    max-width: 160px;
    font-size: 14px;
    top: 310px;
    left:25px;
  }
 .template-notice {
   font-size: 14px;
   top: 550px;

 }
  .link-container {
    font-size: 14px;
    top: 570px;
  }
@media (max-width: 500px) {
  img{
    max-width: 370px;
 }
  .message-container {
    max-width: 125px;
    font-size: 14px;
    top: 250px;
    left:25px;
  }
 .template-notice {
   font-size: 14px;
   top: 450px;

 }
  .link-container {
    font-size: 14px;
    top: 490px;
  }
}
