/* responsive/responsive.css */
.pixel-art {
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  display: block;
  width: 100%;
  max-width: 850px;
  height: auto;
  cursor: zoom-in;
  transition: none;
  position: relative;
  user-select: none;
  touch-action: none;
  left: 10px;
}
.pixel-art-2 {
  max-width: 400px;
  left: 10px;
  margin-top:20px; 
  height: auto;
}

.welcome-message {
  position: static;
  margin-top: 10px;
  font-size: 16px;
  max-width: 650px;
  margin-left: 10px;
  text-align: justify;
}


.template-message {
  margin-top:10px;
  position: static;
  font-size: 16px;
  margin-left: 10px;
}


.report-message {
  position: static;
  margin-top: 10px;
  font-size: 16px;
  max-width: 800px;
  margin-left: 10px;
  margin-top: 30px;
  color:red;
}

a {
  color: #4da3ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.report-player {
  position: static;
  margin-top: 10px;
  font-size: 16px;
  max-width: 800px;
  margin-left: 10px;
  margin-top: 30px;
}

@media (max-width: 880px) {
.pixel-art {
    max-width: 680px;
 }
 .pixel-art-2 {
  max-width: 350px;
}
  .welcome-message {
    max-width: 570px;
    font-size: 14px;
    top: 650px;
  }
 .template-message {
   font-size: 14px;
   top: 720px;

 }
  .report-message {
    font-size: 14px;
    top: 740px;
  }
@media (max-width: 700px) {
.pixel-art {
    max-width: 410px;
    left: 0px;
 }
 .pixel-art-2 {
  max-width: 260px;
  left: 0px;
}
  .welcome-message {
    max-width: 400px;
    font-size: 14px;
    top: 410px;
  }
 .template-message {
   font-size: 14px;
   top: 480px;
 }
  .report-message {
    font-size: 14px;
    top: 520px;
  }
  @media (max-width: 400px) {
.pixel-art {
    max-width: 380px;
 }
.pixel-art-2 {
  max-width: 190px;
}
  .welcome-message {
    max-width: 325px;
    font-size: 14px;
    top: 360px;
  }
 .template-message {
   font-size: 14px;
   top: 440px;
 }
  .report-message {
    font-size: 14px;
    top: 480px;
  }
}