#hud-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px; /* ajoute une hauteur fixe pour faciliter l’alignement */
  padding: 0 12px; /* uniquement padding horizontal */
  font-size: 12px;
  font-family: 'Press Start 2P', cursive, monospace;
  color: #000;
  background: rgba(0,0,0,0.5);
  box-sizing: border-box;
  
  display: flex;              /* active flexbox */
  justify-content: center;    /* centre horizontalement */
  align-items: center;        /* centre verticalement */
  
  user-select: none;
  pointer-events: none;
  z-index: 1002;
}
